/* Universal Styles */

:root {
  --font-family: "Spinnaker", sans-serif;
  --font-size: 20px;

  --bg-main: rgb(245, 245, 245);
  --bg-sec: rgb(225, 225, 225);
  --text-color: #202020;
  --accent-color: #cc0000;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--text-color);
  background-color: var(--bg-main);
}

h1 {
  font-size: 3.5rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-weight: lighter;
}

q {
  font-style: italic;
  font-weight: lighter;
}

time {
  color: gray;
}

a,
em {
  color: var(--accent-color);
}

a:hover {
  text-decoration: underline;
}

header,
main,
footer {
  position: relative;
  top: 4rem;
}

/* Navigation */

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: var(--bg-main);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1500px;
  padding: 0 1rem;
}

.logo {
  font-size: 1.75rem;
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.logo h3 {
  margin-left: 0.5rem;
  font-size: 2rem;
}

.logo:hover {
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links a {
  font-size: 1.25rem;
  color: var(--text-color);
  transition: color 100ms ease-out;
}

.nav-links a:hover {
  color: var(--accent-color);
}

/* Header */

header {
  background-blend-mode: color;
  background: url("../images/hero-cover.webp") rgba(0, 0, 0, 0.5) center
    center/cover;
  width: 100%;
  height: 85vh;
  color: var(--bg-main);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: -1;
  padding: 60px;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #fff;
  padding: 75px;
  text-align: center;
  max-width: 40rem;
}

.header-container h1 {
  border-bottom: 1px solid var(--bg-main);
  padding: 1rem;
}

.header-container q {
  margin: 1.5rem 0 0.75rem;
  width: 100%;
}

.header-container q,
.header-container p {
  font-family: "Inria Serif", serif;
  font-size: 1.2rem;
}

.header-container p {
  font-weight: bold;
}

/* Main */

main {
  background-color: var(--bg-main);
}

section {
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-main);
  padding: 150px 0;
  margin: 0 auto;
}

section:not(:last-child) {
  border-bottom: 2px solid lightgray;
}

section h1 {
  margin-bottom: 5rem;
}

.thumbnail {
  background: center center/cover;
}

/* About */

.about-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.about-item {
  display: flex;
  max-width: 20rem;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

.about-item h2 {
  text-decoration: underline;
}

.about-item i {
  font-size: 100px;
}

/* Products */

.products-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.product-item {
  display: flex;
  flex-direction: column;
  width: 22rem;
  height: 28rem;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  gap: 1.5rem;
}

.product-item .thumbnail {
  width: 100%;
  height: 175px;
  border-radius: 0.5rem;
}

.product-icons {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  gap: 0.8rem;
  font-size: 1.5rem;
  justify-content: space-between;
}

.product-icons a {
  display: flex;
  justify-content: flex-end;
  color: var(--text-color);
  transition: color 200ms ease-out;
}

.product-icons a:hover {
  color: var(--accent-color);
  text-decoration: none;
}

.product-rating {
  display: flex;
  gap: 0.25rem;
}

.fa-star,
.fa-star-half-stroke {
  color: darkorange;
}

.product-one .thumbnail {
  background-image: url("../images/product-one-thumbnail.jpeg");
}

.product-two .thumbnail {
  background-image: url("../images/product-two-thumbnail.png");
}

.product-three .thumbnail {
  background-image: url("../images/product-three-thumbnail.jpeg");
}

.product-four .thumbnail {
  background-image: url("../images/product-four-thumbnail.webp");
}

.product-five .thumbnail {
  background-image: url("../images/product-five-thumbnail.jpeg");
}

.product-six .thumbnail {
  background-image: url("../images/product-six-thumbnail.webp");
}

.see-more-products {
  font-size: 1.25rem;
}

/* News */

.news-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  padding: 0 60px;
}

.news-container a {
  align-self: flex-start;
}

.latest-article {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

.latest-article .thumbnail {
  margin-bottom: 1.5rem;
  height: 12rem;
  background-image: url("../images/main-article-thumbnail.jpeg");
}

.latest-article article {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.other-articles {
  width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.other-articles .thumbnail {
  height: 7rem;
  aspect-ratio: 1 / 1;
}

.news-item a {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  cursor: pointer;
  border-top: 1px solid gray;
  transition: background-color 200ms ease-out;
  padding: 0.75rem;
  color: var(--text-color);
}

.news-item:last-child a {
  border-bottom: 1px solid gray;
}

.news-item a:hover {
  background-color: var(--bg-sec);
  text-decoration: none;
}

.news-item a time {
  font-size: 0.9rem;
}

.news-item a p {
  margin-top: 10px;
}

.news-one a .thumbnail {
  background-image: url("../images/article-one-thumbnail.webp");
}

.news-two a .thumbnail {
  background-image: url("../images/article-two-thumbnail.jpeg");
}

.news-three a .thumbnail {
  background-image: url("../images/article-three-thumbnail.jpeg");
}

/* Team */

.team-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 0 60px;
}

.team-member {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;
}

.team-member:nth-child(odd) {
  flex-wrap: wrap-reverse;
}

.team-member:nth-child(even) {
  text-align: end;
}

.team-member:not(:last-child) {
  padding-bottom: 75px;
  border-bottom: thin solid lightgray;
}

.team-member .thumbnail {
  width: 18rem;
  aspect-ratio: 9 / 10;
  border-radius: 0.5rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

.team-member-description {
  display: flex;
  flex-direction: column;
  max-width: 28rem;
  gap: 1.5rem;
}

.team-member-description article {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.member-one .thumbnail {
  background-image: url("../images/member-one-thumbnail.avif");
}

.member-two .thumbnail {
  background-image: url("../images/member-two-thumbnail.jpg");
}

.member-three .thumbnail {
  background-image: url("../images/member-three-thumbnail.jpg");
  background-position: top;
}

.member-four .thumbnail {
  background-image: url("../images/member-four-thumbnail.avif");
  background-position-x: -200px;
}

/* Footer */

footer {
  height: 12.5rem;
  color: var(--bg-main);
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
}

.contact-information {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

ul.contact-information {
  gap: 1.5rem;
}

.contact-information i {
  font-size: 1.5rem;
}

.social-media i {
  font-size: 2.5rem;
}

.social-media a {
  color: var(--bg-main);
  transition: color 200ms ease-out;
}

.social-media a:hover {
  color: var(--accent-color);
}

.copyright-info {
  position: absolute;
  left: 0.75rem;
  bottom: 0.75rem;
}

/* Media Queries */

@media (orientation: portrait) {
  .nav-container {
    justify-content: center;
    gap: 2rem;
  }

  .logo h3 {
    display: none;
  }

  .team-member:nth-child(even) {
    text-align: start;
  }

  footer {
    height: 17rem;
  }
}
